@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 1590px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #FFFFFF;
  z-index: 5;
}
.header__social {
  display: flex;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__item {
  height: 39px;
  width: 39px;
  border: 1px solid #3D8BFC;
  border-radius: 100px;
  background-color: transparent;
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigate {
  display: flex;
}
.navigate > li:last-child.navigate__item {
  margin: 0;
}
.navigate__item {
  margin-right: 29px;
  font-size: 14px;
  font-weight: 500;
  color: #1E212C;
  text-decoration: none;
}
.navigate__item:hover {
  cursor: pointer;
  color: #3D8BFC;
  border-bottom: 1px solid #3D8BFC;
}
.navigate:last-child {
  margin: 0;
}

.main {
  margin-top: 100px;
}
.main__header {
  display: flex;
}
.main__title {
  background-color: #3D8BFC;
  border-radius: 10px;
  padding: 63px 110px 0 67px;
  margin-right: 10px;
}

.title {
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
  color: #FFFFFF;
}

.subtitle {
  margin-top: 100px;
}
.subtitle__text {
  font-size: 16px;
  font-weight: 600;
  padding: 19px 20px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 100px;
  margin-right: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.about-us {
  display: flex;
  align-items: center;
  margin: 180px 0;
}
.about-us__content {
  margin-left: 135px;
}
.about-us__title {
  margin-top: 20px;
  margin-bottom: 45px;
}
.about-us__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1E212C;
}
.about-us__subtitle:last-child {
  padding-top: 12px;
}

.services {
  display: flex;
  margin-bottom: 150px;
}
.services__block-name {
  font-size: 50px;
  font-weight: 600;
  color: #1E212C;
  margin-right: 151px;
}

.category__item {
  display: flex;
  margin-bottom: 30px;
}

.item__option {
  margin-right: 10px;
  background-color: #F3F7FE;
  border-radius: 10px;
  width: 365px;
}
.item__info {
  background-color: #3D8BFC;
  border-radius: 10px;
  padding-left: 50px;
  display: flex;
  width: 810px;
}
.item__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  color: #FFFFFF;
  padding-top: 50px;
  margin-bottom: 18px;
}
.item__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #FFFFFF;
  padding-right: 55px;
}
.item__img {
  height: 370px;
}

.option {
  padding: 10px 50px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option:first-child {
  padding-top: 50px;
}
.option__name {
  font-size: 14px;
  font-weight: 500;
  color: #1E212C;
  text-wrap: nowrap;
}
.option__model {
  font-size: 16px;
  font-weight: 700;
  color: #3D8BFC;
  padding: 19px 22px;
  border: 2px solid #3D8BFC;
  border-radius: 100px;
  text-wrap: nowrap;
}

.how-it-work {
  margin-top: 19px;
  background-color: #F3F7FE;
  padding: 150px 0;
}

.how-it-work__title {
  margin-top: 19px;
  margin-bottom: 80px;
}

.step {
  display: flex;
  align-items: flex-start;
  padding: 60px 0px 60px 47px;
}
.step:nth-child(odd) {
  background-color: #FFFFFF;
  padding: 60px 0px 0 47px;
}
.step:last-child {
  align-items: center;
  padding: 43px 0px 43px 47px;
}
.step:last-child > .step__more > .info {
  margin-bottom: 0;
}
.step__order {
  display: flex;
  align-items: center;
  width: 600px;
}
.step__name {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  color: #1E212C;
  margin-left: 20px;
  text-wrap: nowrap;
}
.step__more {
  width: 953px;
}
.step__more > .info {
  margin-bottom: 34px;
}

.info__title {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3D8BFC;
  font-weight: 700;
  text-transform: uppercase;
}
.info__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1E212C;
  padding-right: 360px;
}

.faqs {
  display: flex;
  margin-top: 150px;
  margin-bottom: 180px;
}
.faqs__container {
  width: 100%;
}
.faqs > .block-title {
  margin-right: 256px;
}
.faqs__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #D7D7D7;
  margin-top: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1E212C;
}
.faqs__item:first-child {
  margin-top: 19px;
}
.faqs__item h3 {
  font-weight: 500;
}
.faqs__item-subtitle {
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
  padding-right: 94px;
}
.faqs__toggle-vision {
  border: none;
  background-color: transparent;
  color: #3D8BFC;
  font-size: 30px;
  cursor: pointer;
  line-height: 110%;
}

.gallery {
  position: relative;
  overflow: hidden;
  margin-bottom: 180px;
  z-index: 1;
}
.gallery > .block-title {
  margin-bottom: 45px;
}
.gallery__slider {
  width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.slide {
  display: flex;
  min-width: 100%;
  box-sizing: border-box;
}
.slide > div:first-child {
  margin-right: 30px;
}
.slide > div > img {
  width: 780px;
  display: block;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider__nav {
  position: absolute;
  top: 0;
  width: 100%;
  left: 87%;
  display: flex;
}
.slider__nav > button {
  background-color: #3D8BFC;
  border-radius: 100px;
  color: #FFFFFF;
  border: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__nav > button:first-child {
  margin-right: 40px;
}

#next {
  rotate: 180deg;
}

.reviews {
  margin-bottom: 180px;
}
.reviews__header {
  display: flex;
  margin-bottom: 80px;
}
.reviews__img {
  margin-right: 52px;
}
.reviews__title {
  margin-top: 19px;
}
.reviews__text-content {
  display: flex;
}

.review {
  width: 512px;
  margin-right: 30px;
  background-color: #F3F7FE;
  padding: 40px;
  border-radius: 10px;
  color: #1E212C;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.review:last-child {
  margin: 0;
}
.review__name {
  padding-top: 36px;
  font-weight: 700;
  font-size: 16px;
}

.blog {
  margin-bottom: 180px;
}
.blog > .block-title {
  margin-top: 19px;
}
.blog__links {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.blog__link {
  width: 510px;
  text-decoration: none;
}

.link__text {
  color: #1E212C;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  align-items: baseline;
  padding-right: 15px;
  margin-top: 15px;
}
.link__dot {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #3D8BFC;
  margin-right: 15px;
}

.contact-us {
  position: relative;
}
.contact-us__container {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 405px;
  background-color: #3D8BFC;
  background-image: url("../img/bg-contactUs.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
}
.contact-us__container > .block-name {
  color: #FFFFFF;
}
.contact-us__container > .block-title {
  color: #FFFFFF;
  margin-top: 19px;
}
.contact-us__dark-block {
  position: absolute;
  background-color: #1E212C;
  bottom: 0;
  height: 308px;
  width: 100%;
  z-index: -1;
}

.form {
  margin-top: 45px;
}
.form__input {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 19px 0 16px 16px;
  background-color: transparent;
  width: 359px;
  color: rgba(255, 255, 255, 0.6);
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form__name-email {
  margin-bottom: 15px;
}
.form__name-email > input:first-child {
  margin-right: 15px;
}
.form__tel-message {
  margin-bottom: 15px;
}
.form__tel-message > input:first-child {
  margin-right: 15px;
}
.form__submit {
  margin-top: 7px;
}

.footer {
  background-color: #1E212C;
  width: 100%;
  padding-top: 90px;
}
.footer__container {
  display: flex;
}
.footer__navigate {
  margin-top: 10px;
  margin-left: 151px;
  margin-right: 188px;
  text-wrap: nowrap;
}
.footer__navigate li {
  margin-bottom: 20px;
}
.footer__navigate .navigate__item {
  color: #FFFFFF;
}
.footer__navigate .navigate__leftside {
  margin-right: 171px;
}
.footer__follow {
  margin-right: 268px;
  text-wrap: nowrap;
}
.footer__follow > span {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
}
.footer__form-title {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer__form-subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
}
.footer__form > .form {
  margin-top: 27px;
  display: block;
}
.footer__form .submit {
  margin-top: 15px;
  width: 375px;
  padding: 19px;
}
.footer__form .form__policy {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.footer__form .form__policy > a {
  color: #FFFFFF;
  text-decoration: none;
}

.follow__social {
  margin-top: 25px;
  display: flex;
}
.follow__social > .social__item {
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.block-title {
  color: #1E212C;
  font-size: 50px;
  font-weight: 600;
  line-height: 100%;
}

.block-name {
  font-size: 16px;
  color: #3D8BFC;
  font-weight: 700;
  text-transform: uppercase;
}

.submit {
  padding: 19px;
  width: 375px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  color: #3D8BFC;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=style.css.map */