@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  width: 1590px;
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #FFFFFF;
  z-index: 5;
}
.header__social {
  display: flex;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__mobail-menu {
  display: none;
}

.social__item {
  height: 39px;
  width: 39px;
  border: 1px solid #3D8BFC;
  border-radius: 100px;
  background-color: transparent;
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigate {
  display: flex;
}
.navigate > li:last-child.navigate__item {
  margin: 0;
}
.navigate__item {
  margin-right: 29px;
  font-size: 14px;
  font-weight: 500;
  color: #1E212C;
  text-decoration: none;
}
.navigate__item:hover {
  cursor: pointer;
  color: #3D8BFC;
  border-bottom: 1px solid #3D8BFC;
}
.navigate:last-child {
  margin: 0;
}

.main {
  margin-top: 100px;
}
.main__header {
  display: flex;
}
.main__title {
  background-color: #3D8BFC;
  border-radius: 10px;
  padding: 63px 110px 0 67px;
  margin-right: 10px;
}

.title {
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
  color: #FFFFFF;
}

.subtitle {
  margin-top: 100px;
}
.subtitle__text {
  font-size: 16px;
  font-weight: 600;
  padding: 19px 20px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 100px;
  margin-right: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.about-us {
  display: flex;
  margin: 180px 0;
}
.about-us__content {
  margin-left: 135px;
  margin-top: 132px;
  margin-bottom: 113px;
}
.about-us__title {
  margin-top: 20px;
  margin-bottom: 45px;
}
.about-us__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1E212C;
}
.about-us__subtitle:last-child {
  padding-top: 12px;
}
.about-us__img {
  background-image: url("../img/children.png");
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-radius: 10px;
  flex: 0 0 645px;
  background-repeat: no-repeat;
}
.about-us__img img {
  padding: 0 0 20px 20px;
}

.services {
  display: flex;
  margin-bottom: 150px;
}
.services__block-name {
  font-size: 50px;
  font-weight: 600;
  color: #1E212C;
  margin-right: 151px;
}

.category__item {
  display: flex;
  margin-bottom: 30px;
}
.category__item:last-child {
  margin-bottom: 0;
}

.item__option {
  margin-right: 10px;
  background-color: #F3F7FE;
  border-radius: 10px;
}
.item__info {
  background-color: #3D8BFC;
  border-radius: 10px;
  padding-left: 50px;
  display: flex;
}
.item__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  color: #FFFFFF;
  padding-top: 50px;
  margin-bottom: 18px;
}
.item__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #FFFFFF;
}
.item__img > img {
  display: block;
}

.option {
  padding: 10px 50px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option:first-child {
  padding-top: 50px;
}
.option__name {
  font-size: 14px;
  font-weight: 500;
  color: #1E212C;
  width: 94px;
  margin-right: 56px;
  line-height: 140%;
}
.option__price {
  font-size: 16px;
  font-weight: 700;
  color: #3D8BFC;
  padding: 19px 22px;
  border: 2px solid #3D8BFC;
  border-radius: 100px;
  text-wrap: nowrap;
}

.how-it-work {
  margin-top: 19px;
  background-color: #F3F7FE;
  padding: 150px 0;
}

.how-it-work__title {
  margin-top: 19px;
  margin-bottom: 80px;
}

.step {
  display: flex;
  align-items: flex-start;
  padding: 60px 0px 60px 47px;
}
.step:nth-child(odd) {
  background-color: #FFFFFF;
  padding: 60px 0px 0 47px;
  border-radius: 10px;
}
.step:last-child {
  align-items: center;
  padding: 43px 0px 43px 47px;
}
.step:last-child > .step__more > .info {
  margin-bottom: 0;
}
.step__order {
  display: flex;
  align-items: center;
  width: 600px;
}
.step__name {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  color: #1E212C;
  margin-left: 20px;
  text-wrap: nowrap;
}
.step__more {
  width: 953px;
}
.step__more > .info {
  margin-bottom: 34px;
}

.info__title {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3D8BFC;
  font-weight: 700;
  text-transform: uppercase;
}
.info__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #1E212C;
  padding-right: 360px;
}

.faqs {
  display: flex;
  margin-top: 150px;
  margin-bottom: 180px;
}
.faqs__container {
  width: 100%;
}
.faqs > .block-title {
  margin-right: 256px;
}
.faqs__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #D7D7D7;
  margin-top: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1E212C;
}
.faqs__item:first-child {
  margin-top: 19px;
}
.faqs__item h3 {
  font-weight: 500;
}
.faqs__item-subtitle {
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
  padding-right: 94px;
}
.faqs__toggle-vision {
  border: none;
  background-color: transparent;
  color: #3D8BFC;
  font-size: 30px;
  cursor: pointer;
  line-height: 110%;
}

.gallery {
  position: relative;
  overflow: hidden;
  margin-bottom: 180px;
  z-index: 1;
}
.gallery > .block-title {
  margin-bottom: 45px;
}
.gallery__slider {
  width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.slide {
  display: flex;
  min-width: 100%;
  box-sizing: border-box;
}
.slide > div:first-child {
  margin-right: 30px;
}
.slide > div > img {
  width: 780px;
  display: block;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider__nav {
  position: absolute;
  top: 0;
  width: 100%;
  left: 87%;
  display: flex;
}
.slider__nav > button {
  background-color: #3D8BFC;
  border-radius: 100px;
  color: #FFFFFF;
  border: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__nav > button:first-child {
  margin-right: 40px;
}

#next {
  rotate: 180deg;
}

.reviews {
  margin-bottom: 180px;
}
.reviews__header {
  display: flex;
  margin-bottom: 80px;
}
.reviews__img {
  margin-right: 52px;
}
.reviews__title {
  margin-top: 19px;
}
.reviews__text-content {
  display: flex;
}

.review {
  margin-right: 30px;
  background-color: #F3F7FE;
  padding: 40px;
  border-radius: 10px;
  color: #1E212C;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.review:last-child {
  margin: 0;
}
.review__name {
  padding-top: 36px;
  font-weight: 700;
  font-size: 16px;
}

.blog {
  margin-bottom: 180px;
}
.blog > .block-title {
  margin-top: 19px;
}
.blog__links {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
.blog__link {
  width: 510px;
  text-decoration: none;
}

.link__text {
  color: #1E212C;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  align-items: baseline;
  padding-right: 15px;
  margin-top: 15px;
}
.link__dot {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background-color: #3D8BFC;
  margin-right: 15px;
}

.contact-us {
  position: relative;
}
.contact-us__container {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 405px;
  background-color: #3D8BFC;
  background-image: url("../img/bg-contactUs.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  position: relative;
}
.contact-us__container > .block-name {
  color: #FFFFFF;
}
.contact-us__container > .block-title {
  color: #FFFFFF;
  margin-top: 19px;
}
.contact-us__dark-block {
  position: absolute;
  background-color: #1E212C;
  bottom: 0;
  height: 308px;
  width: 100%;
  z-index: -1;
}

.form {
  margin-top: 45px;
}
.form__input {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 16px 0 16px 16px;
  background-color: transparent;
  width: 359px;
  color: rgba(255, 255, 255, 0.6);
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.form__name-email {
  margin-bottom: 15px;
}
.form__name-email > input:first-child {
  margin-right: 15px;
}
.form__tel-message {
  margin-bottom: 15px;
}
.form__tel-message > input:first-child {
  margin-right: 15px;
}
.form__submit {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: #1E212C;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 150px;
}
.footer__container {
  display: flex;
}
.footer__navigate {
  margin-top: 10px;
  margin-left: 151px;
  margin-right: 188px;
  text-wrap: nowrap;
}
.footer__navigate li {
  margin-bottom: 20px;
}
.footer__navigate .navigate__item {
  color: #FFFFFF;
}
.footer__navigate .navigate__leftside {
  margin-right: 171px;
}
.footer__follow {
  margin-right: 268px;
  text-wrap: nowrap;
}
.footer__follow > span {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
}
.footer__form-title {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer__form-subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
}
.footer__form > .form {
  margin-top: 27px;
  display: block;
}
.footer__form .submit {
  margin-top: 15px;
  width: 375px;
  padding: 19px;
}
.footer__form .form__policy {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 25px;
  margin-left: 31px;
}
.footer__form .form__policy > a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__form .form__policy > .check__input:checked + .check__box {
  background-position: 50% 50%;
}

.follow__social {
  margin-top: 25px;
  display: flex;
}
.follow__social > .social__item {
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.check {
  font-size: 14px;
  display: flex;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  align-items: center;
  margin-left: 50px;
  cursor: pointer;
}
.check > a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.check > a:hover {
  text-decoration: underline;
}
.check > a:focus {
  text-decoration: underline;
  outline: none;
}
.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.check__box {
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  /* Checked */
}
.check__input:checked + .check__box {
  background-color: transparent;
  border-color: #FFFFFF;
  background-image: url("../img/cheked.svg");
  background-position: 60% 50%;
}

.block-title {
  color: #1E212C;
  font-size: 50px;
  font-weight: 600;
  line-height: 100%;
}

.block-name {
  font-size: 16px;
  color: #3D8BFC;
  font-weight: 700;
  text-transform: uppercase;
}

.submit {
  padding: 19px;
  width: 375px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  color: #3D8BFC;
  background-color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .container {
    width: 1110px;
    overflow: hidden;
  }
  .title {
    font-size: 50px;
  }
  .main__title {
    padding: 40px 130px 0 25px;
  }
  .title__img > img {
    width: 570px;
    display: block;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
  }
  .subtitle__text {
    margin-top: 10px;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .subtitle__text:first-child {
    margin: 0;
  }
  .about-us {
    margin: 110px 0;
  }
  .about-us__content {
    margin-left: 95px;
    margin-top: 52px;
    margin-bottom: 52px;
  }
  .about-us__subtitle {
    font-size: 16px;
  }
  .about-us__img {
    flex: 0 0 445px;
    background-size: contain;
  }
  .option:first-child {
    padding-top: 30px;
  }
  .block-name {
    font-size: 14px;
  }
  .block-title {
    font-size: 36px;
  }
  .services {
    flex-direction: column;
    margin-bottom: 90px;
  }
  .services__block-name {
    margin-bottom: 35px;
  }
  .item__info {
    padding-left: 30px;
  }
  .item__title {
    padding-top: 30px;
  }
  .item__text-content {
    margin-right: 7px;
  }
  .item__img > img {
    width: 325px;
    padding-top: 22px;
  }
  .item__subtitle {
    padding-right: 15px;
    font-size: 16px;
  }
  .how-it-work {
    padding: 90px 0;
  }
  .info__subtitle {
    padding-right: 60px;
  }
  .faqs {
    margin: 100px 0;
  }
  .gallery {
    margin-bottom: 110px;
  }
  .slide > div > img {
    width: 540px;
  }
  .slider__nav {
    left: 85%;
  }
  .slider__nav > button {
    width: 60px;
    height: 60px;
  }
  .reviews {
    margin-bottom: 110px;
  }
  .review {
    padding: 30px;
  }
  .blog {
    margin-bottom: 100px;
  }
  .blog__link .link__img {
    width: 350px;
    display: block;
  }
  .blog__link .link__text {
    font-size: 20px;
  }
  .blog__link:first-child .text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .contact-us__container {
    background-size: cover;
    padding: 90px 0 0 335px;
  }
  .contact-us__container > .block-title {
    margin-top: 10px;
  }
  .form {
    padding-bottom: 90px;
  }
  .form__input {
    width: 275px;
  }
  .submit {
    font-size: 14px;
    width: 290px;
  }
  .contact-us__dark-block {
    height: 250px;
  }
  .footer {
    padding-bottom: 85px;
  }
  .footer__navigate {
    margin-left: 97px;
    margin-right: 100px;
  }
  .footer__navigate .navigate__leftside {
    margin-right: 89px;
  }
  .footer__follow {
    margin-right: 145px;
  }
  .footer__form-title {
    font-size: 22px;
  }
  .footer__form .form__input {
    width: 220px;
  }
  .footer__form .submit {
    width: 242px;
  }
  .footer__form-subtitle {
    line-height: 140%;
  }
  .form__policy {
    text-wrap: nowrap;
  }
  .footer__form > .form {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 690px;
  }
  .block-title {
    font-size: 36px;
  }
  .block-name {
    font-size: 14px;
  }
  .header {
    height: 86px;
  }
  .header__logo img {
    width: 85px;
  }
  .header__navigate {
    display: none;
  }
  .header__wrapper {
    margin-top: 20px;
    align-items: flex-start;
  }
  .header__social {
    display: none;
  }
  .header__mobail-menu {
    display: flex;
  }
  .mobail-menu {
    display: none;
    margin-right: 120px;
  }
  .mobail-menu__social {
    display: none;
    margin-right: auto;
  }
  .navigate {
    display: flex;
    flex-direction: column;
  }
  .navigate > li {
    margin-bottom: 40px;
  }
  .mobail-menu__toglebtn {
    background-color: #3D8BFC;
    padding: 17px 14px;
    width: 26px;
    border-radius: 10px;
    margin-bottom: 60px;
  }
  .mobail-menu__toglebtn > span {
    width: 26px;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    display: block;
    margin-bottom: 5px;
  }
  .mobail-menu__toglebtn > span:last-child {
    margin-bottom: 0;
  }
  .main__header {
    flex-direction: column;
  }
  .main__title {
    margin-right: 0;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-bottom: 60px;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
  }
  .subtitle > .subtitle__text {
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .subtitle > .subtitle__text:first-child {
    margin-bottom: 10px;
  }
  .footer__container {
    flex-direction: column;
  }
  .title__img > img {
    width: 690px;
    height: 435px;
    display: block;
  }
  .about-us {
    margin-top: 100px;
  }
  .about-us__content {
    margin-left: 35px;
    margin-bottom: 22px;
    margin-top: 0;
  }
  .about-us__img {
    flex: 0 0 210px;
    background-position-x: 48%;
    background-size: cover;
  }
  .about-us__img > img {
    width: 68px;
    padding: 0 0 11px 11px;
  }
  .services {
    flex-wrap: wrap;
  }
  .services__block-name {
    margin-bottom: 35px;
  }
  .option {
    padding-left: 20px;
    padding-right: 20px;
  }
  .option:first-child {
    padding-top: 29px;
  }
  .option__price {
    font-size: 14px;
    padding: 19px;
  }
  .option__name {
    text-wrap: wrap;
    margin-right: 25px;
    width: 63px;
  }
  .services__block-name {
    font-size: 36px;
  }
  .category__item {
    height: 302px;
  }
  .category__item:nth-child(3) .item__option > .option > .option__name {
    width: 92px;
    margin: 0;
  }
  .category__item:nth-child(3) .item__option > .option:last-child > .option__price {
    padding: 19px 17px;
  }
  .category__item:nth-child(3) .item__info > .item__text-content > .item__title {
    padding-right: 45px;
  }
  .category__item:nth-child(3) .item__info > .item__text-content > .item__subtitle {
    padding-right: 175px;
  }
  .item__info {
    padding-left: 20px;
    position: relative;
  }
  .item__title {
    font-size: 22px;
    padding-top: 20px;
    padding-right: 65px;
  }
  .item__subtitle {
    font-size: 16px;
    padding-right: 155px;
  }
  .item__img {
    position: absolute;
    bottom: 0;
    right: -30px;
  }
  .item__img > img {
    width: 219px;
  }
  .services {
    margin-bottom: 70px;
  }
  .how-it-work {
    padding: 70px 0;
  }
  .how-it-work__title {
    margin-bottom: 35px;
  }
  .how-it-work__steps > .step {
    flex-wrap: wrap;
    padding: 30px 0 0 30px;
  }
  .step__name {
    font-size: 22px;
    width: 270px;
  }
  .step__more {
    padding-left: 80px;
  }
  .info__subtitle {
    font-size: 16px;
    padding-right: 50px;
    padding-right: 55px;
  }
  .info__title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .step__more > .info {
    margin-top: 16px;
    margin-bottom: 0;
  }
  .step__more > .info:last-child {
    margin-bottom: 30px;
  }
  .step:nth-child(4) > .step__more > .info, .step:nth-child(5) > .step__more > .info {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .step:nth-child(4) > .step__more > .info > .info__subtitle, .step:nth-child(5) > .step__more > .info > .info__subtitle {
    padding-right: 125px;
  }
  .faqs {
    margin-top: 70px;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }
  .faqs__container {
    margin-top: 30px;
  }
  .faqs__item {
    font-size: 20px;
    padding-bottom: 12px;
  }
  .faqs__item-subtitle {
    font-size: 16px;
    padding-top: 12px;
    padding-right: 45px;
  }
  .slide > div > img {
    width: 690px;
  }
  .slider__nav {
    left: 85%;
    top: 5%;
  }
  .slider__nav > button {
    width: 40px;
    height: 40px;
  }
  .slider__nav > button > img {
    height: 12px;
    width: 12px;
  }
  .slider__nav > button:first-child {
    margin-right: 20px;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=style.css.map */