@media (min-width: 768px) and (max-width: 1199px)
    .container
        width: 690px
    .block-title
        font-size: 36px
    .block-name
        font-size: 14px
    .header
        height: 86px
    .header__logo img
        width: 85px
    .header__navigate
        display: none
    .header__wrapper
        margin-top: 20px
        align-items: flex-start
    .header__social
        display: none
    .header__mobail-menu
        display: flex
    .mobail-menu
        display: none
        margin-right: 120px
        &__social
            display: none
            margin-right: auto
    .navigate
        display: flex
        flex-direction: column

        & > li
            margin-bottom: 40px

    .mobail-menu__toglebtn
        background-color: $blue
        padding: 17px 14px
        width: 26px
        border-radius: 10px
        margin-bottom: 60px
        &> span
            width: 26px
            border-radius: 100px
            border: 1px solid #FFFFFF
            display: block
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0
    .main
        &__header
            flex-direction: column
        &__title
            margin-right: 0
            margin-bottom: 5px
            padding-right: 5px
            padding-bottom: 60px

    .title
        font-size: 50px
    .subtitle
        margin-top: 39px
        display: flex
        flex-direction: column
        & > .subtitle__text
            max-width: max-content
            &:first-child
                margin-bottom: 10px
    .footer__container
        flex-direction: column
    .title__img > img
        width: 690px
        height: 435px
        display: block
    .about-us
        margin-top: 100px
        &__content
            margin-left: 35px
            margin-bottom: 22px
            margin-top: 0
        &__img
            flex: 0 0 210px
            background-position-x: 48%
            background-size: cover
            &>img
                width: 68px
                padding: 0 0 11px 11px
    .services
        flex-wrap: wrap
        &__block-name
            margin-bottom: 35px
    .option
        padding-left: 20px
        padding-right: 20px
        &:first-child
            padding-top: 29px
        &__price
            font-size: 14px
            padding: 19px
    .option__name
        text-wrap: wrap
        margin-right: 25px
        width: 63px
    .services__block-name
        font-size: 36px
    .category__item
        height: 302px
        &:nth-child(3)
            & .item__option > .option > .option__name
                width: 92px
                margin: 0
            & .item__option > .option:last-child > .option__price
                padding: 19px 17px
            & .item__info > .item__text-content > .item__title
                padding-right: 45px
            & .item__info > .item__text-content > .item__subtitle
                padding-right: 175px
    .item__info
        padding-left: 20px
        position: relative
    .item__title
        font-size: 22px
        padding-top: 20px
        padding-right: 65px
    .item__subtitle
        font-size: 16px
        padding-right: 155px

    .item__img
        position: absolute
        bottom: 0
        right: -30px
        &>img
            width: 219px
    .services
        margin-bottom: 70px
    .how-it-work
        padding: 70px 0
    .how-it-work__title
        margin-bottom: 35px
    .how-it-work__steps > .step
        flex-wrap: wrap
        padding: 30px 0 0 30px
    .step__name
        font-size: 22px
        width: 270px
    .step__more
        padding-left: 80px

    .info__subtitle
        font-size: 16px
        padding-right: 50px
        padding-right: 55px
    .info__title
        font-size: 14px
        margin-bottom: 5px
    .step__more > .info
        margin-top: 16px
        margin-bottom: 0
        &:last-child
            margin-bottom: 30px
    .step:nth-child(4), .step:nth-child(5)
        &> .step__more > .info
            margin-top: 0
            margin-bottom: 30px
        &> .step__more > .info >.info__subtitle
            padding-right: 125px
    .faqs
        margin-top: 70px
        margin-bottom: 100px
        flex-wrap: wrap
    .faqs__container
        margin-top: 30px
    .faqs__item
        font-size: 20px
        padding-bottom: 12px
    .faqs__item-subtitle
        font-size: 16px
        padding-top: 12px
        padding-right: 45px
    .slide > div > img
        width: 690px
    .slider__nav
        left: 85%
        top: 5%
        & > button
            width: 40px
            height: 40px
            & > img
                height: 12px
                width: 12px
            &:first-child
                margin-right: 20px
